<div class="container mt-4">
  <div class="card bg-dark text-wite">
    <div class="page-header">
      <h1><p style="color:aliceblue">Desayunos</p></h1>
    </div>
    <div class="row">
        <div class="col-4 mb-3 md-2" *ngFor="let producto of productosdesayuno" >
          <div class="card">
            <img class="card-img-top" src="assets/menus/{{producto.imagen}}" >
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
              <img src="{{obtenerEstrellas(producto.id_platillo)}}" height="20px" whidth="40px">
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
              <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-primary btn-block">
                <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                  <circle cx="25" cy="27" r="2" />
                  <circle cx="12" cy="27" r="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card bg-dark text-wite">
    <div class="page-header">
      <h1><p style="color:aliceblue">Almuerzos</p></h1>
    </div>
    <div class="row">
        <div class="col-4 mb-3 md-2" *ngFor="let producto of productosalmuerzo" >
          <div class="card">
            <img class="card-img-top" src="assets/menus/{{producto.imagen}}" >
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
              <img src="{{obtenerEstrellas(producto.id_platillo)}}" height="20px" whidth="40px">
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
              <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-primary btn-block">
                <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                  <circle cx="25" cy="27" r="2" />
                  <circle cx="12" cy="27" r="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card bg-dark text-wite">
    <div class="page-header">
      <h1><p style="color:aliceblue">Menu Infantil</p></h1>
    </div>
    <div class="row">
        <div class="col-4 mb-3 md-2" *ngFor="let producto of productosinfantil" >
          <div class="card">
            <img class="card-img-top" src="assets/menus/{{producto.imagen}}" >
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
              <img src="{{obtenerEstrellas(producto.id_platillo)}}" height="20px" whidth="40px">
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
              <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-primary btn-block">
                <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                  <circle cx="25" cy="27" r="2" />
                  <circle cx="12" cy="27" r="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card bg-dark text-wite">
    <div class="page-header">
      <h1><p style="color:aliceblue">Refacciones</p></h1>
    </div>
    <div class="row">
        <div class="col-4 mb-3 md-2" *ngFor="let producto of productosrefaccion" >
          <div class="card">
            <img class="card-img-top" src="assets/menus/{{producto.imagen}}" >
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
              <img src="{{obtenerEstrellas(producto.id_platillo)}}" height="20px" whidth="40px">
              <p class="card-text">{{producto.descripcion}}</p>
              <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
              <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-primary btn-block">
                <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                  <circle cx="25" cy="27" r="2" />
                  <circle cx="12" cy="27" r="2" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>


<!--
<section class="" style="background-image: url('assets/gris.jpg'); margin-top: 1.5cm;width:auto;height: 650px;">
    <div class="container">
      <div class="page-header">
        <h1><p style="color:aliceblue">Desayunos</p></h1>  
      </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 bg-dark">
            <div class="col" *ngFor="let producto of productos" >
              <div class="card">
                <img class="card-img-top" [src]="producto.img" [alt]="producto.nombre">
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
                  <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-primary btn-block">
                    <svg id="i-cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                      <path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
                      <circle cx="25" cy="27" r="2" />
                      <circle cx="12" cy="27" r="2" />
                    </svg>
                  </button>
                </div>
          <div class="col" *ngFor="let producto of productosdesayuno" >
            <div class="card">
              <img class="card-img-top" src="assets/menus/{{producto.imagen}}" >
              <div class="card-body">
                <h5 class="card-title">{{producto.nombre | uppercase}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Precio: Q{{producto.precio}} </small></p>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
-->