<div class="row">
    <div class="col-md-2" *ngFor="let pedido of ListaPedidos">
        <div class="card text-center">
          <div class="card-header d-flex text-white bg-dark justify-content-between ">
             Pedido No. {{pedido.id_pedido}}
          </div>
          <button class="btn btn-success" (click)="EnProceso(pedido.id_pedido)">
            En Proceso
         </button>
         <button class="btn btn-warning" (click)="Listo(pedido.id_pedido)">
            Listo
         </button>
        </div>
        <br>
        <br>
      </div>    

</div>
