<div class="container">
  <h1>MENU DEL DIA</h1>
</div>
<div class="card ">
  <div class="card mb-3 text-dark bg-info">
    <img [src]="producto.imagen" class="img-fluid" [alt]="producto.nombre">
      <div class="card-body">
      <h4 class="card-title">{{producto.nombre | uppercase}}</h4>
      <p class="card-text">{{producto.descripcion | uppercase}}</p>
      <p class="card-text"> Precio: {{producto.precio}} </p>
    </div>
  </div>
</div>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Desayunos</button>
  <button type="button" class="btn btn-primary">Almuerzos</button>
  <button type="button" class="btn btn-primary">Cenas</button>
</div>

<br>