<div class="container">
           <div class="row"> 
    <form  >
        <div class="form-control" style="background-color: black;">
            <input type="text" value="" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}">
            
        </div>
        <div class="form-control">
            <button class="btn btn-warning" (click)="Buscar(codigo)">
                Buscar
        </button>
        </div>        
    </form>
    </div>

</div>
<table class="table" *ngIf="Enable_Table">
    <thead class="thead-dark" style="background-color: black; color: white;">
      <tr>
        <th scope="col">Factura</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{devuelto[0].id_factura}}</td>
        <td>{{devuelto[0].fecha}}</td>
        <td>Q.{{devuelto[0].total}}</td>
        <td>{{Cambiar(devuelto[0].estado_pedido)}}</td>
        <td><button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Califica Tu Servicio
        </button></td>
      </tr>
    </tbody>
  </table>
    <h2 style="color: red;">{{msgError}}</h2>


    <!-- Modal para Calificar Pedido -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calificacion Para Mejorar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hola Alejo Como te va</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Valorar</button>
      </div>
    </div>
  </div>
</div>